<%- include('partials/head.ejs') %>
    <%- include('partials/nav.ejs') %>

        <body>
            <% if (sneakers.length !=0){ %>
                <% for( sneaker of sneakers ) { %>
                    <div class="sneaker">
                        <img src="/<%= sneaker.image %>" alt="">
                        <p>
                            <%= sneaker.name %>
                        </p>

                        <p>HELLO </p>
                    </div>
                <% } %>
            <% } %>
        </body>
    <%- include('partials/footer.ejs') %>